html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    background: transparent url('img/poster.jpg') fixed no-repeat center center;
    background-size: cover;
}

#bg {
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.first {
    position: absolute;
    z-index: 2;
    width: 100%;
    opacity: 1;
    height: 40px;
    bottom: 0px;
    background-color: black;
}

#first {
    min-height: 100vh;
}

#volume {
    position: absolute;
    top: 12px;;
}

.black {
    position: absolute;
    z-index: 2;
    background-color: black;
    min-height: 100vh;
    width: 100%;
}

.contents {
    color: red;
    font-weight: 900;
    opacity: 1;
    padding: 20px;
}

.middle {
    position: absolute;
    z-index: 2;
    top: 500px;
}

.secound {
    position: absolute;
    z-index: 2;
    top: 1000px;
}

.video-container {
    position: absolute;
    z-index: 2;
    background-color: black;
    width: 100%;
    padding: 20px;
}

.single-video {
    height: 300px;
}